body {
  background:#336600;
  right: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.menu {
  background: #408000 repeat left top;
  left: -185px;  
  height: 100%;
  position: fixed;
  width: 185px;
}
.menu ul {
  border-top: 5px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  border-bottom: 5px solid black;
  font-family: 'Tahoma', sans-serif;
  line-height: 50px;
  padding-left: 30px;
}
.menu a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
}
.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}
.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Tahoma', sans-serif;
  font-size: 24px;
  padding-bottom: 16px;
  padding-left: 35px;
  padding-top: 17px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
}
.content{
  border-top: 5px solid black;
}
.content p{
  font-size:25px;
  color:white;
  padding-left:130px;
  padding-right:200px;  
}
button {
  text-align:center;
  font-size:22px;
  font-family: 'Tahoma', sans-serif;
  background: #408000;
  border: 4px solid white;
  border-radius: 15px;
  width:130px;
  height:70px;
  position:absolute;
  left: 130px;
}
#dice {
  font-size:35px;
  padding-left:280px;
  padding-top:15px;
} 
