body {
  background:#336600;
  right: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.menu {
  background: #408000 repeat left top;
  left: -185px;  
  height: 100%;
  position: fixed;
  width: 185px;
}
.menu ul {
  border-top: 4px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  border-bottom: 4px solid black;
  font-family: 'Tahoma', sans-serif;
  line-height: 50px;
  padding-left: 40px;
}
.menu a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
}
.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}
.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Tahoma', sans-serif;
  font-size: 22px;
  padding-bottom:20px;
  padding-top:14px;
  padding-left: 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
  border-bottom: 4px solid black;
}
.content{
  margin-left:200px;
  margin-right:200px;
  font-size:25px;
  color:white;
}
.content h1{
  font-size:25px;
}
button {
  text-align:center;
  font-size:22px;
  font-family: 'Tahoma', sans-serif;
  background: #408000;
  border: 3px solid white;
  border-radius: 15px;
  width:130px;
  height:70px;
}
#dice {
  font-size:35px;
  padding-left:15px;
} 
