body {
  background:#336600;
  right: 0;
  margin: 0;
  position:absolute;
}
.menu {
  background: #408000;
  left: 0px;  
  height: 100%;
  position: fixed;
  width: 185px;
  display:none;
}
.menu ul {
  border-top: 4px solid black;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  border-bottom: 4px solid black;
  font-family: 'Tahoma', sans-serif;
  line-height: 50px;
  padding-left: 40px;
}
.menu a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
}
.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}
.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Tahoma', sans-serif;
  font-size: 22px;
  padding-bottom:10px;
  padding-top:10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
  border-bottom: 4px solid black;
  padding-left: 220px;
}
.content{
  margin-left:200px;
  margin-right:300px;
  font-size:25px;
  color:white;
}
.content h1{
  font-size:25px;
}
